block header
    nav
        img(src="../../images/logo.png", alt="Colin4thTv's logo").logo
        ul.left
            li
                a(href="/")
                    span Home
            li
                a(href="/about")
                    span About
            li
                a(href="/donate")
                    span Donate
            li
                a(href="/commands")
                    span Commands
            li
                a(href="/team")
                    span Meet The Team
        ul.right
            li
                a(href="/live")
                    span Live
            li
                a(href="https://discord.gg/UBWKGsx")
                    span Discord