extends ./layout/_full

block append head
    link(rel="stylesheet", href="/stylesheets/pages/about.css")
block app
    span Welcome to the site, that of the Twitch streamer Colin4thTv. He likes to play the online game
        a(href="https://surviv.io/").g-link surviv.io
        span the most, and is currently ranked #4 in all time squad wins. He loves to play with fellow viewers and does custom gamemodes as well!