extends ./layout/_full

block append head
    link(rel="stylesheet", href="/stylesheets/pages/index.css")
block app
    span.page-desc View commands that you can use.
    .container
        .nightbot
            span !50v50
            span !badday
            span !bagory
            span !bits
            span !blocked
            span !c4
            span !captains
            span !cat
            span !chicago
            span !colin
            span !customs
            span !discord
            span !eagle
            span !east
            span !f
            span !ffa
            span !frog
            span !gg
            span !golden
            span !hack
            span !hamwax
            span !hide
            span !james
            span !johnwick
            span !jpowell
            span !life
            span !looper
            span !lorenzo
            span !miami
            span !mobin
            span !noonja
            span !noonjastourney
            span !onegun
            span !play
            span !points
            span !polar
            span !raid
            span !rekt
            span !rip
            span !rogue
            span !run
            span !samantha
            span !sf
            span !skins
            span !sleepy
            span !smart
            span !squishy
            span !ss
            span !stats
            span !stream
            span !streamsnipe
            span !sub
            span !today
            span !tom
            span !tourney
            span !useless
            span !vip
            span !whydoesthiscommandexist
            span !wins
            span !youtube
        .streamelements
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null
            span null