extends ./layout/_full

block append head
    link(rel="stylesheet", href="/stylesheets/pages/index.css")
block app
    span.page-desc View commands that you can use.
    .container
        .nightbot
            table
                thead
                    th Name
                    th Response
                tbody
                    tr
                        td !50v50
                        td Colin doesnt care if you dont like 50v50, hes playing it all day. Complain = muted.
                    tr
                        td !badday
                    tr
                        td !badday
                    tr
                        td !bagory
                    tr
                        td !bits
                    tr
                        td !blocked
                    tr
                        td !c4
                    tr
                        td !captains
                    tr
                        td !cat
                    tr
                        td !chicago
                    tr
                        td !colin
                    tr
                        td !customs
                    tr
                        td !discord
                    tr
                        td !eagle
                    tr
                        td !east
                    tr
                        td !f
                    tr
                        td !ffa
                    tr
                        td !frog
                    tr
                        td !gg
                    tr
                        td !golden
                    tr
                        td !hack
                    tr
                        td !hamwax
                    tr
                        td !hide
                    tr
                        td !james
                    tr
                        td !johnwick
                    tr
                        td !jpowell
                    tr
                        td !life
                    tr
                        td !looper
                    tr
                        td !lorenzo
                    tr
                        td !miami
                    tr
                        td !mobin
                    tr
                        td !noonja
                    tr
                        td !noonjastourney
                    tr
                        td !onegun
                    tr
                        td !play
                    tr
                        td !points
                    tr
                        td !polar
                    tr
                        td !raid
                    tr
                        td !rekt
                    tr
                        td !rip
                    tr
                        td !rogue
                    tr
                        td !run
                    tr
                        td !samantha
                    tr
                        td !sf
                    tr
                        td !skins
                    tr
                        td !sleepy
                    tr
                        td !smart
                    tr
                        td !squishy
                    tr
                        td !ss
                    tr
                        td !stats
                    tr
                        td !stream
                    tr
                        td !streamsnipe
                    tr
                        td !sub
                    tr
                        td !today
                    tr
                        td !tom
                    tr
                        td !tourney
                    tr
                        td !useless
                    tr
                        td !vip
                    tr
                        td !whydoesthiscommandexist
                    tr
                        td !wins
                    tr
                        td !youtube