extends ./layout/_full

block append head
    link(rel="stylesheet", href="/stylesheets/pages/index.css")
block app
    span.page-desc View commands that you can use.
    .container
        .nightbot
            table
                thead
                    th Name
                    th Response
                tbody
                    tr
                        td !badday
                        td !badday
                        td !bagory
                    tr
                        td !bits
                        td !blocked
                        td !c4
                    tr
                        td !captains
                        td !cat
                        td !chicago
                    tr
                        td !colin
                        td !customs
                        td !discord
                    tr
                        td !eagle
                        td !east
                        td !f
                    tr
                        td !ffa
                        td !frog
                        td !gg
                    tr
                        td !golden
                        td !hack
                        td !hamwax
                    tr
                        td !hide
                        td !james
                        td !johnwick
                    tr
                        td !jpowell
                        td !life
                        td !looper
                    tr
                        td !lorenzo
                        td !miami
                        td !mobin
                    tr
                        td !noonja
                        td !noonjastourney
                        td !onegun
                    tr
                        td !play
                        td !points
                        td !polar
                    tr
                        td !raid
                        td !rekt
                        td !rip
                    tr
                        td !rogue
                        td !run
                        td !samantha
                    tr
                        td !sf
                        td !skins
                        td !sleepy
                    tr
                        td !smart
                        td !squishy
                        td !ss
                    tr
                        td !stats
                        td !stream
                        td !streamsnipe
                    tr
                        td !sub
                        td !today
                        td !tom
                    tr
                        td !tourney
                        td !useless
                        td !vip
                    tr
                        td !whydoesthiscommandexist
                        td !wins
                        td !youtube