extends ./layout/_full

block append head
  link(rel="stylesheet", href="/stylesheets/pages/donate.css")
block app
    span.page-desc You can directly support Colin4thTv in one of two ways:
    .container
        .subscribe
            h2 Subscribe
            span Subscribe to Colin4thTv to help support the stream. You, in return, are given a variety of premium perks such as special emoticons (emotes) to use in chat as well as subscriber-only streams!
        .bits
            h2 Bits
            span Cheering a certain number of bits triggers a special sound.
            table
                thead
                    th Name
                    th Amount
                tbody
                    tr
                        td Sad Boy
                        td 15 - 24
                    tr
                        td Jaws
                        td 25 - 29
                    tr
                        td ???
                        td 30 - 49
                    tr
                        td Champions
                        td 50 - 98
                    tr
                        td Nuke
                        td 99 - 999
                    tr
                        td ???
                        td 1000 - 4999
                    tr
                        td ???
                        td 5000+