extends ./layout/_full

block append head
  link(rel="stylesheet", href="/stylesheets/pages/team.css")
block app
    .container
        .left
            h2 Streamer
            span Colin
            h2 Administrators
            span PolarswitchTv
            br
            span SmartAlec64
        .right
            h2 Moderators
            span 0Austin
            br
            span 99_Catzilla
            br
            span Atay118
            br
            span AngryCookies
            br
            span Batman
            br
            span Bagory_
            br
            span Counter_Clockwise_Looper
            br
            span Didius
            br
            span DoughIsHere
            br
            span FrogGirlGaming
            br
            span Metamasher
            br
            span Mobinmontana
            br
            span Triv
            br
            span YTSquishyCaat