doctype html
html(lang="en")
    head
        include ./assets/head
    body
        header
            include ./assets/header
        main
            include ./assets/main
        footer
            include ./assets/footer