doctype html
html
    head
        link(rel="stylesheet", href="/stylesheets/api/twitch.css")
        script(src="https://embed.twitch.tv/embed/v1.js")
        script(src="/javascripts/api/live.js")
    body
        #twitch-embed